<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Why I can’t sleep at night</string>
	<string>The next happy meal toy</string>
	<string>This ended my last relationship</string>
	<string>I drink to forget ______</string>
	<string>Couldn’t finish my homework cuz</string>
	<string>Batman’s guilty pleasure</string>
	<string>A girl’s best friend</string>
	<string>_____ is the new currency</string>
	<string>The next superhero/sidekick duo</string>
	<string>Betcha can’t have just one! </string>
	<string>White people like ______</string>
	<string>______. High five bro!</string>
	<string>During sex, I think about ______</string>
	<string>This will always get you laid</string>
	<string>Don’t wanna see this in your food</string>
	<string>This is why I have friends</string>
	<string>This is why I don’t have friends</string>
	<string>Aliens would like to study this</string>
	<string>The field trip was ruined by _____</string>
	<string>There’s a ton of these in heaven</string>
	<string>This would disturb Grandma</string>
	<string>US airdropped these to Iraq</string>
	<string>What helps Obama unwind</string>
	<string>Schwarzenegger would eat this</string>
	<string>_____, good till the last drop</string>
	<string>This gets better with age</string>
	<string>kid-tested, mother-approved</string>
	<string>Inspires kids to stay in school</string>
	<string>A World War IV weapon</string>
	<string>Why do I hurt all over?</string>
	<string>What I am giving up for Lent?</string>
	<string>What I do when no ones looking</string>
	<string>F#@! Grades, look at me now</string>
	<string>C’s get degrees</string>
	<string>college isn’t over!</string>
	<string>I would lose a fight to this</string>
	<string>I wonder how much that cost?</string>
	<string>Best hair day</string>
	<string>Best selfie</string>
	<string>Best dressed</string>
	<string>Fun outdoors</string>
	<string>Good times with good people</string>
	<string>Coolest place I have been</string>
	<string>Hungover</string>
	<string>Best meal</string>
	<string>3rd picture in your camera roll</string>
	<string>Something Lincoln hid in his hat</string>
	<string>Your “in memoriam” photo</string>
	<string>My “drug” of choice</string>
	<string>Cause for a “roommate meeting”</string>
</array>
</plist>
