<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserGenerated</key>
	<array/>
	<key>FREE</key>
	<array>
		<string>Why I can’t sleep at night</string>
		<string>The things I dream about</string>
		<string>This ended my last relationship</string>
		<string>I drink to forget ______</string>
		<string>Couldn’t finish my homework cuz</string>
		<string>Batman’s guilty pleasure</string>
		<string>A girl’s best friend</string>
		<string>_____ is the new currency</string>
		<string>The next superhero/sidekick duo</string>
		<string>Betcha can’t have just one!</string>
		<string>White people like ______</string>
		<string>______. High five bro!</string>
		<string>During sex, I think about ______</string>
		<string>This will always get you laid</string>
		<string>Don’t wanna see this in your food</string>
		<string>Cutest pet</string>
		<string>This is why I have friends</string>
		<string>This gets better with age</string>
		<string>Aliens would like to study this</string>
		<string>There’s a ton of these in heaven</string>
		<string>This would disturb Grandma</string>
		<string>US airdropped these to Iraq</string>
		<string>What helps Obama unwind</string>
		<string>Schwarzenegger would eat this</string>
		<string>_____, good till the last drop</string>
	</array>
	<key>Knucklehead</key>
	<array>
		<string>This is why I don’t have friends</string>
		<string>kid-tested, mother-approved</string>
		<string>Inspires kids to stay in school</string>
		<string>A World War IV weapon</string>
		<string>Why do I hurt all over?</string>
		<string>What I am giving up for Lent?</string>
		<string>What I do when no one is looking</string>
		<string>F#@! Grades, look at me now</string>
		<string>C’s get degrees</string>
		<string>college isn’t over!</string>
		<string>I would lose a fight to this</string>
		<string>I wonder how much that cost?</string>
		<string>Fun outdoors</string>
		<string>Good times with good people</string>
		<string>Coolest place I have been</string>
		<string>Hungover</string>
		<string>Best hair day</string>
		<string>Best selfie</string>
		<string>Is this socially acceptable?</string>
		<string>Fuck it</string>
	</array>
	<key>Screwball</key>
	<array>
		<string>3rd picture in your camera roll</string>
		<string>Basic Bro</string>
		<string>Your “in memoriam” photo</string>
		<string>My “drug” of choice</string>
		<string>Cause for a “roommate meeting”</string>
		<string>abort! abort! abort!</string>
		<string>why old age is gonna be amazing</string>
		<string>something single girls own</string>
		<string>something that you’ve named</string>
		<string>your idea of romance</string>
		<string>advertising you love</string>
		<string>should be an olympic sport</string>
		<string>something you would parkour</string>
		<string>strange murder trial evidence</string>
		<string>this should never be bedazzled</string>
		<string>you’re not sure why you own this</string>
		<string>no clue how this works</string>
		<string>a turning point in your life</string>
		<string>Keep this out of the scrapbook</string>
		<string>Cutest dog ever!</string>
	</array>
	<key>Sillypants</key>
	<array>
		<string>Best dressed</string>
		<string>Best meal</string>
		<string>unorthodox toy for a bubble bath</string>
		<string>Worst Hair Day</string>
		<string>Manscaping at its finest</string>
		<string>Celebrity Look Alike </string>
		<string>Drunkest Night Ever</string>
		<string>Dad bod</string>
		<string>The world is ending</string>
		<string>Crazy Tattoo</string>
		<string>Funny, but dumb</string>
		<string>Caught in the act</string>
		<string>Guilty as Charged</string>
		<string>PDA</string>
		<string>Is this weird?</string>
		<string>YOLO</string>
		<string>For sure a crazy cat lady</string>
		<string>She was born with it</string>
		<string>Cutest baby</string>
		<string>surefire way to ruin a date</string>
	</array>
	<key>Goofus</key>
	<array>
		<string>Cutest kid</string>
		<string>Too Far?...</string>
		<string>This will haunt my dreams…</string>
		<string>This is how the world ends</string>
		<string>Best View</string>
		<string>Are you fucking kidding me!?</string>
		<string>Last meal on earth</string>
		<string>Hangover Cure</string>
		<string>I paid good money for this</string>
		<string>Don&apos;t Do Drugs</string>
		<string>Heaven on Earth</string>
		<string>I want to wake up to…</string>
		<string>I woke up like this</string>
		<string>That is crazy!</string>
		<string>the hangover</string>
		<string>old people are funny</string>
		<string>The next happy meal toy</string>
		<string>Basic Betch</string>
		<string>The field trip was ruined by...</string>
		<string>Something Lincoln hid in his hat</string>
	</array>
	<key>Dingleberry</key>
	<array>
		<string>things to run over with my car</string>
		<string>something you lose a lot</string>
		<string>something that always gets wet</string>
		<string>your reaction when I fart</string>
		<string>first person to pass out</string>
		<string>wouldn’t care if you lost this</string>
		<string>wish we had smellivision</string>
		<string>cuteness overload</string>
		<string>better than sex</string>
		<string>better than puppies</string>
		<string>tequilla made me do it</string>
		<string>what would kanye do</string>
		<string>what not to wear</string>
		<string>foodgasm</string>
		<string>least favorite person</string>
		<string>no TP? use this…</string>
		<string>basic women adore this</string>
		<string>a basic bro’s favorite</string>
		<string>karmas a bitch</string>
		<string>If I had a million dollars</string>
	</array>
	<key>Greenhorn</key>
	<array>
		<string>million dollar idea</string>
		<string>I’ll go to the gym tomorrow…</string>
		<string>where I see myself in 20 years</string>
		<string>honeymoons over</string>
		<string>gets better with whiskey</string>
		<string>obsessed with the x</string>
		<string>mmm...don’t look at the label</string>
		<string>biggest pet peeve</string>
		<string>nails on a chalkboard</string>
		<string>when you hear an ice cream truck</string>
		<string>If I had a nickel for every time..</string>
		<string>haters gunna hate</string>
		<string>haha, i’m gunna pee my pants</string>
		<string>wait, but first…</string>
		<string>that’s not the first time</string>
		<string>just broke the internet</string>
		<string>makes a vegetarian reconsider</string>
		<string>has religious meaning to aliens</string>
		<string>leave this in an emergency</string>
		<string>TSA loves confiscating this</string>
	</array>
	<key>Nitwit</key>
	<array>
		<string>I was going to work out, but…</string>
		<string>I could be bribed with this</string>
		<string>where I see myself in 10 years</string>
		<string>should be in vending machines</string>
		<string>could be a prize in a cereal box</string>
		<string>First thing you see in Heaven</string>
		<string>the Amish don’t get to do this</string>
		<string>the doctor prescribed me this</string>
		<string>sinking? throw this overboard</string>
		<string>wishing this appeared right now</string>
		<string>99 problems, but _____ ain’t one</string>
		<string>Now banned on airplanes</string>
		<string>Candlelit dinner complete with</string>
		<string>you trade cigarettes in jail for</string>
		<string>Important to time travel with</string>
		<string>step one ___, step two: profit</string>
		<string>before I kill you, look at this</string>
		<string>Considered the 11th plague</string>
		<string>Smithsonian Museum’s new exhibit</string>
		<string>My best Snapchat</string>
	</array>
	<key>Jabroni</key>
	<array>
		<string>Gives athletes an advantage</string>
		<string>This is at the end of a rainbow</string>
		<string>will be done by robots in future</string>
		<string>a new weapon for a video game</string>
		<string>Will loosen up a tense situation</string>
		<string>there should be a emoji for this</string>
		<string>The cover of your next album</string>
		<string>I use this to clean</string>
		<string>would be disgusting if hairy</string>
		<string>figured out what that smell was</string>
		<string>first thing I would make legal</string>
		<string>most embarrassing photo I have</string>
		<string>if my celebrity crush was here</string>
		<string>where I see myself in 5 years</string>
		<string>vodka made me do it</string>
		<string>When I looked my most attractive</string>
		<string>more effective than steroids</string>
		<string>my favorite afrodesiac</string>
		<string>Distracts Obama during debates</string>
		<string>superman’s kriptonite</string>
	</array>
</dict>
</plist>
